
.username {
    font-weight: bold;
    margin: 5px 0px;
    cursor:pointer;
    overflow: hidden;
}



#chats{

    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: flex;
    width: 50%;
    flex-direction: column;
    
}   

#main{
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: grid;
    width: 50%;
    grid-template-columns: 10% auto 10% 10% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
img{
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    width: 100%;
    height: auto;
}
#spinner{
    grid-column: 4/5;
    grid-row:2/2;
}

#rooms{
    grid-column: 1/4;
    grid-row: 3/3;
}
#rooms select{
    width: 40%;
}
#friends{
    grid-column: 5/6;
    grid-row: 3/3;
}
form {
    grid-column: 1/6;
    grid-row: 4/4;
}
#message{
    width: 82%;
}
#chats > div{
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid #ddd;
    border-width: 1px;
}