/*body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}
*/
/*#chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}
*//*
#chats {
    display:flex;
    flex-direction:column;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}
*/
.username {
    font-weight: bold;
    margin: 5px 0px;
    cursor:pointer;
    overflow: hidden;
}
/*
#headerButtons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#rooms{*/
    /*display:flex;
    /*flex-direction: row;*/
    /*justify-content: flex-start;

}
#friends{
    justify-self: flex-end;    
    margin-left: 10px;
    display: flex;
    flex-direction: row
    /*justify-content:flex-end;
}
#friendDrop{
    margin-left:50px;
    width:100px;
}
#friends span{
    margin-left: 50px;
}

#friends option{
    overflow: hidden;
    max-width: 50px
}
#rooms select{
    width: 80%;
}
*/


#chats{

    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: flex;
    width: 50%;
    flex-direction: column;
    
}   

#main{
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: grid;
    width: 50%;
    grid-template-columns: 10% auto 10% 10% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
img{
    grid-column: 1/4;
    grid-row: 1/2;
    align-self: center;
    width: 100%;
    height: auto;
}
#spinner{
    grid-column: 4/5;
    grid-row:2/2;
}
/*#headerButtons {
    grid-column: 1/6;
    grid-row: 2/2;
}*/
#rooms{
    grid-column: 1/4;
    grid-row: 3/3;
/*    display:flex;
    flex-direction: row;
    justify-content: center;*/
}
#rooms select{
    width: 40%;
}
#friends{
    grid-column: 5/6;
    grid-row: 3/3;
}
form {
    grid-column: 1/6;
    grid-row: 4/4;
}
#message{
    width: 82%;
}
#chats > div{
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid #ddd;
    border-width: 1px;
}